<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="mb-4">Image Uploader</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                {{ success }}
                <br>
                Image Link: <a href="{{ file_link }}" target="_blank">{{ file_link }}</a>
                <br>
                <small>Upload another image:</small>
            </div>
        {% endif %}
        <form action="/" method="post" enctype="multipart/form-data" id="uploadForm">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file" accept=".png, .jpg, .jpeg, .gif" onchange="updateFileName()">
                <label class="custom-file-label" for="customFile" id="fileLabel">Choose file</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3" id="uploadBtn" disabled>Upload</button>
        </form>

        {% if uploaded_files %}
            <div class="uploaded-files">
                <h2>Uploaded Files</h2>
                <ul class="list-group">
                    {% for uploaded_file in uploaded_files %}
                        {% if uploaded_file != '.gitignore' %}
                        <li class="list-group-item"><a href="{{ url_for('uploaded_file', filename=uploaded_file) }}" target="_blank">{{ uploaded_file }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function updateFileName() {
            var fileName = $('#customFile').val().split('\\').pop();
            $('#fileLabel').text(fileName);
            $('#uploadBtn').prop('disabled', false);
        }
    </script>
</body>
</html>
